@utility direction-rtl {
    direction: rtl;
}

@utility direction-ltr {
    direction: ltr;
}

@utility font-text {
    font-family: Inter, Arial, sans-serif;

    @variant rtl {
        font-family: IRANSansFaNum, Arial, sans-serif;
    }
}

@utility font-numeric {
    font-family: Inter, Arial, sans-serif;

    @variant rtl {
        font-family: IRANSansFaNum, IRANSans, Arial, sans-serif;
    }
}

body {
    @apply m-0 bg-gray-100 p-0 text-left text-sm direction-ltr rtl:text-right rtl:direction-rtl;
}

* {
    @apply font-text;
}
